.header {
  position: relative;
  background: transparent;
  z-index: 1030;
}

.header__logo {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
}

.header__logo > img {
  width: 250px;
}

@media only screen and (max-width: 1200px) {
  .header__logo {
    max-width: 980px;
  }
}

@media only screen and (max-width: 768px) {
  .header__logo {
    max-width: 980px;
  }

  .header__logo > img {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .header__logo > img {
    margin-left: 0;
  }
}
